.watch-anywhere {
  padding: 5.6vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 44px;

  img {
    max-width: 100%;
  }
  &__text__container {
    h2 {
      padding-bottom: 24px;
    }
  }
}
